[Desktop Entry]
Icon=preferences-desktop-thunderbolt
Exec=kcmshell5 kcm_bolt
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_bolt
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=Hardware
X-KDE-Weight=120

Name=Thunderbolt
Name[nl]=Thunderbolt
Name[pt]=Thunderbolt
Name[pt_BR]=Thunderbolt
Name[uk]=Thunderbolt
Name[x-test]=xxThunderboltxx
Comment=Thunderbolt Device Management
Comment[nl]=Thunderbolt apparaatbeheer
Comment[pt]=Gestão de Dispositivos Thunderbolt
Comment[uk]=Керування пристроями Thunderbolt
Comment[x-test]=xxThunderbolt Device Managementxx
X-KDE-Keywords=thunderbolt,hardware,device
X-KDE-Keywords[nl]=thunderbolt,hardware,apparaat
X-KDE-Keywords[pt]=thunderbolt,hardware,dispositivo
X-KDE-Keywords[pt_BR]=thunderbolt,hardware,dispositivo
X-KDE-Keywords[uk]=thunderbolt,hardware,device,тандерболт,фандерболт,обладнання,пристрій
X-KDE-Keywords[x-test]=xxthunderboltxx,xxhardwarexx,xxdevicexx
Categories=Qt;KDE;X-KDE-settings-system
