[Desktop Entry]
Icon=preferences-desktop-thunderbolt
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_bolt
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Weight=120

Name=Thunderbolt
Name[ar]=ثندر بولت
Name[az]=Thunderbolt
Name[ca]=Thunderbolt
Name[ca@valencia]=Thunderbolt
Name[cs]=Thunderbolt
Name[da]=Thunderbolt
Name[de]=Thunderbolt
Name[en_GB]=Thunderbolt
Name[es]=Thunderbolt
Name[et]=Thunderbolt
Name[eu]=Thunderbolt
Name[fi]=Thunderbolt
Name[fr]=Thunderbolt
Name[gl]=Thunderbolt
Name[hu]=Thunderbolt
Name[ia]=Thunderbolt
Name[id]=Thunderbolt
Name[it]=Thunderbolt
Name[ko]=Thunderbolt
Name[lt]=Thunderbolt
Name[nl]=Thunderbolt
Name[nn]=Thunderbolt
Name[pl]=Thunderbolt
Name[pt]=Thunderbolt
Name[pt_BR]=Thunderbolt
Name[ro]=Thunderbolt
Name[ru]=Thunderbolt
Name[sk]=Thunderbolt
Name[sl]=Thunderbolt
Name[sv]=Thunderbolt
Name[uk]=Thunderbolt
Name[x-test]=xxThunderboltxx
Name[zh_CN]=雷电接口
Name[zh_TW]=Thunderbolt
Comment=Thunderbolt Device Management
Comment[ar]=إدارة جهاز ثندر بولت
Comment[az]=Thunderbolt cihazı meneceri
Comment[ca]=Gestió de dispositius Thunderbolt
Comment[ca@valencia]=Gestió del dispositiu Thunderbolt
Comment[cs]=Správa zařízení Thunderbolt
Comment[da]=Håndtering af Thunderbolt-enheder
Comment[de]=Thunderbolt-Geräteverwaltung
Comment[en_GB]=Thunderbolt Device Management
Comment[es]=Gestión de dispositivos Thunderbolt
Comment[et]=Thunderbolti seadme haldamine
Comment[eu]=Thunderbolt gailu kudeaketa
Comment[fi]=Thunderbolt-laitehallinta
Comment[fr]=Gestionnaire de périphériques « Thunderbolt »
Comment[gl]=Xestión de dispositivos de Thunderbolt
Comment[hu]=Thunderbolt eszközök kezelése
Comment[ia]=Gestion de dispositivo de Thunderbolt
Comment[id]=Pengelolaan Perangkat Thunderbolt
Comment[it]=Gestione dei dispositivi Thunderbolt
Comment[ko]=Thunderbolt 장치 관리
Comment[lt]=Thunderbolt įrenginių tvarkymas
Comment[nl]=Thunderbolt apparaatbeheer
Comment[nn]=Handsaming av Thunderbolt-einingar
Comment[pl]=Zarządzanie urządzeniem Thunderbolt
Comment[pt]=Gestão de Dispositivos Thunderbolt
Comment[pt_BR]=Gerenciamento de dispositivos Thunderbolt
Comment[ro]=Gestiune dispozitive Thunderbolt
Comment[ru]=Управление устройствами Thunderbolt
Comment[sk]=Správa zariadenia Thunderbolt
Comment[sl]=Upravljanje naprav Thunderbolt
Comment[sv]=Thunderbolt enhetshantering
Comment[uk]=Керування пристроями Thunderbolt
Comment[x-test]=xxThunderbolt Device Managementxx
Comment[zh_CN]=雷电接口设备管理
Comment[zh_TW]=Thunderbolt 裝置管理
X-KDE-Keywords=thunderbolt,hardware,device,protocol,thunderbolt protocol,transfer,usb,usb-c,pci-e,external devices
X-KDE-Keywords[ca]=thunderbolt,maquinari,dispositiu,protocol,protocol del thunderbolt,transferència,usb,usb-c,pci-e,dispositius externs
X-KDE-Keywords[en_GB]=thunderbolt,hardware,device,protocol,thunderbolt protocol,transfer,usb,usb-c,pci-e,external devices
X-KDE-Keywords[es]=thunderbolt,hardware,dispositivo,protocolo,protocolo thunderbolt,transferir,usb,usb-c,pci-e,dispositivos externos
X-KDE-Keywords[fr]=thunderbolt, matériel, périphérique, protocole, protocole thunderbolt, transfert, usb, usb-c, pci-e, périphériques externes
X-KDE-Keywords[nl]=thunderbolt,hardware,apparaat,protocol,thunderbolt-protocol,overdracht,usb,usb-c,pci-e,externe apparaten
X-KDE-Keywords[sv]=thunderbolt,maskinvara,enhet,protokoll,thunderbolt-protokoll,överföring,usb,usb-c,pci-e,externa enheter
X-KDE-Keywords[uk]=thunderbolt,hardware,device,protocol,thunderbolt protocol,transfer,usb,usb-c,pci-e,external devices,тандерболт,фандерболт,апаратне,обладнання,протокол,протокол тандерболт,передавання,юесбі,зовнішні пристрої
X-KDE-Keywords[x-test]=xxthunderboltxx,xxhardwarexx,xxdevicexx,xxprotocolxx,xxthunderbolt protocolxx,xxtransferxx,xxusbxx,xxusb-cxx,xxpci-exx,xxexternal devicesxx
Categories=Qt;KDE;X-KDE-settings-system
