[Desktop Entry]
Name=Thunderbolt
Name[nl]=Thunderbolt
Name[pt]=Thunderbolt
Name[pt_BR]=Thunderbolt
Name[uk]=Thunderbolt
Name[x-test]=xxThunderboltxx
Comment=Thunderbolt Device Management
Comment[nl]=Thunderbolt apparaatbeheer
Comment[pt]=Gestão de Dispositivos Thunderbolt
Comment[uk]=Керування пристроями Thunderbolt
Comment[x-test]=xxThunderbolt Device Managementxx
Icon=preferences-desktop-thunderbolt
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Daniel Vrátil
X-KDE-PluginInfo-Email=dvratil@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_bolt
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
