[Desktop Entry]
Name=Thunderbolt
Name[ar]=ثندر بولت
Name[az]=Thunderbolt
Name[ca]=Thunderbolt
Name[ca@valencia]=Thunderbolt
Name[cs]=Thunderbolt
Name[da]=Thunderbolt
Name[de]=Thunderbolt
Name[en_GB]=Thunderbolt
Name[es]=Thunderbolt
Name[et]=Thunderbolt
Name[eu]=Thunderbolt
Name[fi]=Thunderbolt
Name[fr]=Thunderbolt
Name[gl]=Thunderbolt
Name[hu]=Thunderbolt
Name[ia]=Thunderbolt
Name[id]=Thunderbolt
Name[it]=Thunderbolt
Name[ko]=Thunderbolt
Name[lt]=Thunderbolt
Name[nl]=Thunderbolt
Name[nn]=Thunderbolt
Name[pl]=Thunderbolt
Name[pt]=Thunderbolt
Name[pt_BR]=Thunderbolt
Name[ro]=Thunderbolt
Name[ru]=Thunderbolt
Name[sk]=Thunderbolt
Name[sl]=Thunderbolt
Name[sv]=Thunderbolt
Name[uk]=Thunderbolt
Name[x-test]=xxThunderboltxx
Name[zh_CN]=雷电接口
Name[zh_TW]=Thunderbolt
Comment=Thunderbolt Device Management
Comment[ar]=إدارة جهاز ثندر بولت
Comment[az]=Thunderbolt cihazı meneceri
Comment[ca]=Gestió de dispositius Thunderbolt
Comment[ca@valencia]=Gestió del dispositiu Thunderbolt
Comment[cs]=Správa zařízení Thunderbolt
Comment[da]=Håndtering af Thunderbolt-enheder
Comment[de]=Thunderbolt-Geräteverwaltung
Comment[en_GB]=Thunderbolt Device Management
Comment[es]=Gestión de dispositivos Thunderbolt
Comment[et]=Thunderbolti seadme haldamine
Comment[eu]=Thunderbolt gailu kudeaketa
Comment[fi]=Thunderbolt-laitehallinta
Comment[fr]=Gestionnaire de périphériques « Thunderbolt »
Comment[gl]=Xestión de dispositivos de Thunderbolt
Comment[hu]=Thunderbolt eszközök kezelése
Comment[ia]=Gestion de dispositivo de Thunderbolt
Comment[id]=Pengelolaan Perangkat Thunderbolt
Comment[it]=Gestione dei dispositivi Thunderbolt
Comment[ko]=Thunderbolt 장치 관리
Comment[lt]=Thunderbolt įrenginių tvarkymas
Comment[nl]=Thunderbolt apparaatbeheer
Comment[nn]=Handsaming av Thunderbolt-einingar
Comment[pl]=Zarządzanie urządzeniem Thunderbolt
Comment[pt]=Gestão de Dispositivos Thunderbolt
Comment[pt_BR]=Gerenciamento de dispositivos Thunderbolt
Comment[ro]=Gestiune dispozitive Thunderbolt
Comment[ru]=Управление устройствами Thunderbolt
Comment[sk]=Správa zariadenia Thunderbolt
Comment[sl]=Upravljanje naprav Thunderbolt
Comment[sv]=Thunderbolt enhetshantering
Comment[uk]=Керування пристроями Thunderbolt
Comment[x-test]=xxThunderbolt Device Managementxx
Comment[zh_CN]=雷电接口设备管理
Comment[zh_TW]=Thunderbolt 裝置管理
Icon=preferences-desktop-thunderbolt
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Daniel Vrátil
X-KDE-PluginInfo-Email=dvratil@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_bolt
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-MainScript=ui/main.qml
