[Desktop Entry]
Name=Thunderbolt Device Monitor
Name[ca]=Supervisor del dispositiu Thunderbolt
Name[ca@valencia]=Supervisor del dispositiu Thunderbolt
Name[en_GB]=Thunderbolt Device Monitor
Name[es]=Monitor de dispositivos Thunderbolt
Name[fi]=Thunderbolt-laitevalvonta
Name[it]=Monitor dei dispositivi Thunderbolt
Name[ko]=Thunderbolt 장치 모니터
Name[lt]=Thunderbolt įrenginių prižiūryklė
Name[nl]=Thunderbolt apparaatmonitor
Name[pt]=Monitor de Dispositivos Thunderbolt
Name[pt_BR]=Monitor de dispositivos Thunderbolt
Name[sk]=Monitor zariadenia Thunderbolt
Name[sv]=Thunderbolt enhetsövervakare
Name[uk]=Спостереження за пристроями Thunderbolt
Name[x-test]=xxThunderbolt Device Monitorxx
Name[zh_TW]=Thunderbolt 裝置監控工具
Comment=Thunderbolt Device Monitor
Comment[ca]=Supervisor del dispositiu Thunderbolt
Comment[ca@valencia]=Supervisor del dispositiu Thunderbolt
Comment[en_GB]=Thunderbolt Device Monitor
Comment[es]=Monitor de dispositivos Thunderbolt
Comment[fi]=Thunderbolt-laitevalvonta
Comment[it]=Monitor dei dispositivi Thunderbolt
Comment[ko]=Thunderbolt 장치 모니터입니다
Comment[lt]=Thunderbolt įrenginių prižiūryklė
Comment[nl]=Thunderbolt apparaatmonitor
Comment[pt]=Monitor de Dispositivos Thunderbolt
Comment[pt_BR]=Monitor de dispositivos Thunderbolt
Comment[sk]=Monitor zariadenia Thunderbolt
Comment[sv]=Thunderbolt enhetsövervakare
Comment[uk]=Спостереження за пристроями Thunderbolt
Comment[x-test]=xxThunderbolt Device Monitorxx
Comment[zh_TW]=Thunderbolt 裝置監控工具

Type=Service
Icon=preferences-desktop-thunderbolt
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kded_bolt
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

X-KDE-PluginInfo-Author=Daniel Vrátil
X-KDE-PluginInfo-Email=dvratil@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kded_bolt
X-KDE-PluginInfo-Version=0.1

