[Desktop Entry]
Name=Thunderbolt Device Monitor
Name[az]=Thunderbolt cihazına nəzarət
Name[ca]=Supervisor del dispositiu Thunderbolt
Name[ca@valencia]=Supervisor del dispositiu Thunderbolt
Name[cs]=Monitoring zařízení Thunderbolt
Name[da]=Overvågning af Thunderbolt-enheder
Name[de]=Thunderbolt-Gerätemonitor
Name[en_GB]=Thunderbolt Device Monitor
Name[es]=Monitor de dispositivos Thunderbolt
Name[et]=Thunderbolti seadme jälgija
Name[eu]=Thunderbolt gailu begiralea
Name[fi]=Thunderbolt-laitevalvonta
Name[fr]=Surveillance des périphériques « Thunderbolt »
Name[gl]=Vixiante de dispositivos de Thunderbolt
Name[hu]=Thunderbolt eszközfigyelő
Name[ia]=Monitor de dispositivo de Thunderbolt
Name[id]=Pemantau Perangkat Thunderbolt
Name[it]=Monitor dei dispositivi Thunderbolt
Name[ko]=Thunderbolt 장치 모니터
Name[lt]=Thunderbolt įrenginių prižiūryklė
Name[nl]=Thunderbolt apparaatmonitor
Name[nn]=Overvaking av Thunderbolt-eining
Name[pl]=Monitor urządzenia Thunderbolt
Name[pt]=Monitor de Dispositivos Thunderbolt
Name[pt_BR]=Monitor de dispositivos Thunderbolt
Name[ro]=Monitor de dispozitive Thunderbolt
Name[ru]=Монитор устройств Thunderbolt
Name[sk]=Monitor zariadenia Thunderbolt
Name[sl]=Monitor naprav Thunderbolt
Name[sv]=Thunderbolt enhetsövervakare
Name[uk]=Спостереження за пристроями Thunderbolt
Name[x-test]=xxThunderbolt Device Monitorxx
Name[zh_CN]=雷电接口设备监视器
Name[zh_TW]=Thunderbolt 裝置監控工具
Comment=Thunderbolt Device Monitor
Comment[az]=Thunderbolt cihazına nəzarət
Comment[ca]=Supervisor del dispositiu Thunderbolt
Comment[ca@valencia]=Supervisor del dispositiu Thunderbolt
Comment[cs]=Monitoring zařízení Thunderbolt
Comment[da]=Overvågning af Thunderbolt-enheder
Comment[de]=Thunderbolt-Gerätemonitor
Comment[en_GB]=Thunderbolt Device Monitor
Comment[es]=Monitor de dispositivos Thunderbolt
Comment[et]=Thunderbolti seadme jälgija
Comment[eu]=Thunderbolt gailu begiralea
Comment[fi]=Thunderbolt-laitevalvonta
Comment[fr]=Surveillance des périphériques « Thunderbolt »
Comment[gl]=Vixiante de dispositivos de Thunderbolt
Comment[hu]=Thunderbolt eszközfigyelő
Comment[ia]=Monitor de dispositivo de Thunderbolt
Comment[id]=Pemantau Perangkat Thunderbolt
Comment[it]=Monitor dei dispositivi Thunderbolt
Comment[ko]=Thunderbolt 장치 모니터입니다
Comment[lt]=Thunderbolt įrenginių prižiūryklė
Comment[nl]=Thunderbolt apparaatmonitor
Comment[nn]=Overvaking av Thunderbolt-eining
Comment[pl]=Monitor urządzenia Thunderbolt
Comment[pt]=Monitor de Dispositivos Thunderbolt
Comment[pt_BR]=Monitor de dispositivos Thunderbolt
Comment[ro]=Monitor pentru dispozitive Thunderbolt
Comment[ru]=Монитор устройств Thunderbolt
Comment[sk]=Monitor zariadenia Thunderbolt
Comment[sl]=Monitor naprav Thunderbolt
Comment[sv]=Thunderbolt enhetsövervakare
Comment[uk]=Спостереження за пристроями Thunderbolt
Comment[x-test]=xxThunderbolt Device Monitorxx
Comment[zh_CN]=雷电接口设备监视器
Comment[zh_TW]=Thunderbolt 裝置監控工具

Type=Service
Icon=preferences-desktop-thunderbolt
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kded_bolt
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

X-KDE-PluginInfo-Author=Daniel Vrátil
X-KDE-PluginInfo-Email=dvratil@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kded_bolt
X-KDE-PluginInfo-Version=0.1

